* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('../img/fundo.gif');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 1440px 990px;
}

#click {
    display: none;
}

#icone {
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
    left: 0;
}

.barra {
    background-image: url('../img/FundoMenu.png');
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;
    left: -300px;
}

nav {
    width: 100%;
    position: absolute;
    top: 120px;
}

nav a {
    text-decoration: none;
}

.link {
    padding: 20px;
    font-family: "arial";
    font-size: 12pt;
    transition: all .2s linear;
    color: white;
    border-bottom: 2px solid #222;
}

#click:checked~.barra {
    transform: translateX(300px);
}

#check:checked~.barra nav a .link {
    opacity: 1;
    margin-top: 0;
    transition-delay: .2s;
}

.logoPrincipal {
    position: relative;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.logoCirculo {
    position: absolute;
    width: 478px;
    height: 479px;
    left: 50%;
    margin-left: -239px;
    animation: rotate 60s linear infinite;
}